# ENVIRONMENT SELECTOR
# --------------------------------
# development | production
NODE_ENV=development


# APPLICATION
PORT=3000

# POSTGRESQL DATABASE
DATABASE_URL=postgresql://username:password@localhost:5433/sagart_db

# JWT AUTHENTICATION
# users
JWT_SECRET=user_secret_key_123
JWT_EXPIRES_IN=5d

# admin
JWT_SECRET_ADMIN=admin_secret_key_456
JWT_EXPIRES_IN_ADMIN=1d

# ZARINPAL PAYMENT
ZARINPAL_MERCHANT_ID=merchant_id
ZARINPAL_CALLBACK_URL=http://localhost:3000/payments/verify